<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <!-- Meta, title, CSS, favicons, etc. -->
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" href="images/favicon.ico" type="image/ico" />
        <link rel="icon" href="template/production/images/bonbon.png" />
        <title>{$title}</title>

        <!-- Bootstrap -->
        <link href="template/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
        <!-- Font Awesome -->
        <link href="template/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
        <!-- NProgress -->
        <link href="template/vendors/nprogress/nprogress.css" rel="stylesheet">
        <!-- iCheck -->
        <link href="template/vendors/iCheck/skins/flat/green.css" rel="stylesheet">

        <!-- bootstrap-progressbar -->
        <link href="template/vendors/bootstrap-progressbar/css/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet">
        <!-- JQVMap -->
        <link href="template/vendors/jqvmap/dist/jqvmap.min.css" rel="stylesheet"/>
        <!-- bootstrap-daterangepicker -->
        <link href="template/vendors/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet">

        <!-- Custom Theme Style -->
        <link href="template/build/css/custom.min.css" rel="stylesheet">
    </head>

    <body class="nav-md">
        <div class="container body">
            <div class="main_container">
                {include 'template/production/topNavBar.tpl'}
                {include 'template/production/leftNavBar.tpl'}
                <div class="right_col" role="main">
                    <div class="">
                        <!--Titre-->
                        <div class="breadcrumbs">
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="page-header float-left">
                                    <div class="page-title">
                                        <h1><i class="fa fa-heart-o">{$titleContenu}</i></h1>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="page-header float-right">
                                    <div class="page-title">
                                        <ol class="breadcrumb text-right">
                                            <li><a href="index.php">Accueil</a></li>
                                            <li><a href="index.php?gestion=documentation">Documentations</a></li>
                                            <li class="active">{$titreForm}</li>
                                        </ol>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--Titre--> 
                        <div class="clearfix"></div>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <div class="x_panel fixed_height_200">
                                <div class="x_title">
                                    <h2><i class="fa fa-bars"></i> {$titreTab1}</h2>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="x_content">
                                    <div class="col-xs-3">
                                        <!-- required for floating -->
                                        <!-- Nav tabs -->
                                        <ul class="nav nav-tabs tabs-left">
                                            <li class="active"><a href="#home" data-toggle="tab">Version</a>
                                            </li>
                                            <li><a href="#profile" data-toggle="tab">Modele</a>
                                            </li>
                                        </ul>
                                        <br />
                                    </div>
                                    <div class="col-xs-9">
                                        <!-- Tab panes -->
                                        <div class="tab-content">
                                            <div class="tab-pane active" id="home">
                                                <div>
                                                    <p class="lead">VERSION</p>
                                                    <p>{$contenu1Tab1}</p>
                                                </div>
                                                <div>
                                                    <a href="documentation/gourmandise-sarl-V4.sql" download>
                                                        <button type="button" class="btn btn-dark btn-sm pull-right">{$btnDll}</button>
                                                    </a>
                                                </div>
                                            </div>

                                            <div class="tab-pane" id="profile">
                                                <div>
                                                    <p class="lead">MODELE</p>
                                                    <p>{$contenu2Tab1}</p>
                                                </div>
                                                <div>
                                                    <form method="get" target="_blank" action="documentation/bdGourmandise.png">
                                                        <button type="submit" class="btn btn-dark btn-sm pull-right">{$btnSee}</button>
                                                    </form>
                                                    <br />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <div class="x_panel fixed_height_200">
                                <div class="x_title">
                                    <h2>{$titreTab2}</h2>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="x_content">
                                    <br />
                                    <div>
                                        <p>{$contenu1Tab2}</p>
                                    </div>
                                    <div>
                                        <form method="get" target="_blank" action="documentation/cahierDesCharges.pdf">
                                            <button type="submit" class="btn btn-dark btn-sm pull-right">{$btnSee}</button>
                                        </form>
                                        <br />
                                        <br />
                                    </div>
                                </div>
                            </div>
                        </div>     
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <div class="x_panel fixed_height_200">
                                <div class="x_title">
                                    <h2>{$titreTab3}</h2>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="x_content">
                                    <br />
                                    <div>
                                        <p>{$contenu1Tab3}</p>
                                    </div>
                                    <div>
                                        <form method="get" target="_blank" action="https://gitlab.com/Rthigoulet/gourmandise">
                                            <button type="submit" class="btn btn-dark btn-sm pull-right">{$btnSee}</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>   
                    </div>
                </div>
            </div>
        </div>
    </div>
    {include 'template/production/footerBar.tpl'}
</div>
</div>
</body>

<!-- jQuery -->
<script src="template/vendors/jquery/dist/jquery.min.js"></script>
<!-- Bootstrap -->
<script src="template/vendors/bootstrap/dist/js/bootstrap.min.js"></script>
<!-- FastClick -->
<script src="template/vendors/fastclick/lib/fastclick.js"></script>
<!-- NProgress -->
<script src="template/vendors/nprogress/nprogress.js"></script>
<!-- Chart.js -->
<script src="template/vendors/Chart.js/dist/Chart.min.js"></script>
<!-- gauge.js -->
<script src="template/vendors/gauge.js/dist/gauge.min.js"></script>
<!-- bootstrap-progressbar -->
<script src="template/vendors/bootstrap-progressbar/bootstrap-progressbar.min.js"></script>
<!-- iCheck -->
<script src="template/vendors/iCheck/icheck.min.js"></script>
<!-- Skycons -->
<script src="template/vendors/skycons/skycons.js"></script>
<!-- Flot -->
<script src="template/vendors/Flot/jquery.flot.js"></script>
<script src="template/vendors/Flot/jquery.flot.pie.js"></script>
<script src="template/vendors/Flot/jquery.flot.time.js"></script>
<script src="template/vendors/Flot/jquery.flot.stack.js"></script>
<script src="template/vendors/Flot/jquery.flot.resize.js"></script>
<!-- Flot plugins -->
<script src="template/vendors/flot.orderbars/js/jquery.flot.orderBars.js"></script>
<script src="template/vendors/flot-spline/js/jquery.flot.spline.min.js"></script>
<script src="template/vendors/flot.curvedlines/curvedLines.js"></script>
<!-- DateJS -->
<script src="template/vendors/DateJS/build/date.js"></script>
<!-- JQVMap -->
<script src="template/vendors/jqvmap/dist/jquery.vmap.js"></script>
<script src="template/vendors/jqvmap/dist/maps/jquery.vmap.world.js"></script>
<script src="template/vendors/jqvmap/examples/js/jquery.vmap.sampledata.js"></script>
<!-- bootstrap-daterangepicker -->
<script src="template/vendors/moment/min/moment.min.js"></script>
<script src="template/vendors/bootstrap-daterangepicker/daterangepicker.js"></script>

<!-- Custom Theme Scripts -->
<script src="template/build/js/custom.min.js"></script>
</html>
