<!DOCTYPE html>
<html lang="en">
    <!-- footer content -->
    <footer>
        <div style="text-align: center;">
            <p><a href="index.php">Gourmandise SARL | </a>BTS SIO</p>
        </div>
        <div class="clearfix"></div>
    </footer>
    <!-- /footer content -->
</body>
</html>